/**
 * Fix user-agent
 */

 * {
  box-sizing: border-box;
}

/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
} */

/**
 * Canvas
 */

.boardContainer {
  margin-left: 10px;
  float: inline-start;
  width: 804px;
  height: 400px;
  border: 2px solid #a58e57;
}

.whiteboard {
  display: block;
}

.colors {
  position: absolute;
  background-color: #a58e57;
  border: 2px solid #474a2c;
  border-radius: 6px;
}

.color {
  display: block;
  height: 48px;
  width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }