/**
 * Fix user-agent
 */

 * {
  box-sizing: border-box;
}

/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
} */

/**
 * Canvas
 */

.boardContainer {
  margin-left: 20px;
  float: bottom;
  width: 804px;
  height: 400px;
  border: 2px solid #a58e57;
}

.whiteboard {
  display: block;
  /* height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; */
}

.colors {
  position: fixed;
  border: 2px solid #a58e57;
  background-color: #a58e57;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }