/* input {
  color: red;
  border: 1.5px solid;
  border-color: '#a58e57';
  background-color: black;
} */

/* .ui.form.fluid.field input{
  border: 1.5px solid #a58e57;
}

.ui.fluid.selection.dropdown {
  border: 1.5px solid #a58e57;
}

textarea {
  border: 1.5px solid #a58e57;
}

.ui.focus.input {
  border: 1.5px solid #a58e57;
} */

/* .form-field.form-field{
  border: 1.5px solid #a58e57;
} */