.slides .slick-prev:before {
  left: -50% !important;
  color: #474a2c;
  font-size: 30px;
  position: relative;
  z-index: 1;
}
.slides .slick-next:before {
  right: 5% !important;
  color: #474a2c;
  font-size: 30px;
  z-index: 1;
}

/* .slides {
  width: '400px';
  height: '150px';
  background-color: '#e0e1e2';
} */